html { 
    background: url(img/keyboard.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    font-family: "Game Of Squids", Helvetica, sans-serif;
    color: white;
}

body {
    align-items: center;
}

button {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    height: 200px;
    width: 200px;
    border: solid white 2px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px grey;
}